@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: roboto;
    padding: 0;
    margin: 0;
    color: #332B1F;
}


.header{
    display: flex;
    padding: 50px;
    background:#FFC067;
    text-align: center;
}

#headerIMG{
    width: 40%;
    height: auto;
    box-shadow: 0px 0px 5px black;
    object-fit: cover;

}

.about-me{
    padding: 40px;
    margin: 100px 0;
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-me h1{
    font-size: 60px;
}

.about-me p{
    font-size: 20px;
}

.icons img{
    width: 30px;
    height: auto;
}

.icons{
    align-self: end;
    display: flex;
    gap: 15px;
}


/* work secton */

.work {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    padding: 100px;
}

.project{
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.project img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project h1{
    font-size: 15px;
}

.project h1,
.project p {
    padding: 20px;
}


.footer{
    display: flex;
    gap: 20px;
    background:#FFC067; 
    justify-content: space-around;
    padding: 50px;
}

#footerImg{
    width: 400px;
    height: auto;
    object-fit: cover;

}

.footer-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .icons{
    align-self: flex-start;

}

@media (max-width:1000px) {
    .work {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 20px;
        padding: 50px 10px;
    }

    .header{
        flex-direction: column;
        align-items: center;
        padding: 50px;
        background:#FFC067;
    }

    .footer{
        flex-direction: column;
        align-items: center;
    }
    


    /* .project img{
        width: 80%;
        height: auto;

    } */
}   


@media (max-width:500px) {
    .work {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        gap: 20px;
    }

    #headerIMG{
        width: 100%;
    }

    #footerImg{
        width: 100%;

    }

}   